*:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

.App {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.central-view {
  display: flex;
  height: 100%;
  overflow: auto;
}

.messages {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
}

@media (max-width: 600px) {
  .messages-hidden {
    display: none;
  }
}
