.messages-section {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
}

.messages-section-div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.messages-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.messages-list::-webkit-scrollbar {
    display: none;
}